.cover-art{
    box-shadow: 2px 3px 2px black;
}
.empty-cover{
    background: #121212;
    margin:0 auto;
    height: 300px;
    width: 300px;
    box-shadow: 2px 3px 2px black;
}
.player-interface{

    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 80px 0px 10px 0px;
    margin: 0;
}

.control-pane{
    flex-grow: 2;
    margin-right: 10px;
    background-color: rgb(49, 49, 49);
}

.control-pane p{
    color: white;
}