.nav-wrapper{
    position:fixed;
    background: #ff5050;
    height:65px;
    top:0; 
    display:flex;
    width: 100%;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-wrapper .nav-logo{
    position: fixed;
    left: 0;
    height:5vh;
    width: 5vw;
    margin: 8px;
    float: left;
}

@media (max-width: 480px){
    .container .nav-li{
        font-size: 12px;
    }
    .nav-wrapper .nav-logo{
        height: auto;
        width:10vw;
    }
    .nav-wrapper{
        height: 7vh;
    }
}