.nav-wrapper{
    position:fixed;
    background: #ff5050;
    height:65px;
    top:0; 
    display:flex;
    width: 100%;

}

.nav-wrapper .nav-logo{
    position: fixed;
    left: 0;
    top: 0;
    height:50px;
    width: 50px;
    margin: 10px 0px 0px 10px;
}

@media (max-width: 480px){

    .nav-wrapper .nav-logo{
        height: auto;
        width:10vw;
        margin: 0px, 0px, 0px, 5px;
    }
    .nav-wrapper{
        height: 7vh;
        background-color: #1DB954;
    }
}