.App {
  text-align: start;
}
/* css for logo*/

.App-logo {
  height: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {

    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) 
    translateZ(0);
    transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
    cursor: pointer;
  }
}
.App-logo:hover {
  transform: scale(1.1);
}

/*header*/
.App-header {
  background-color: #191414;
  min-height: 100vh;
  display: start;
  flex-direction: column;
  align-items: left;
  justify-content: start;
    animation: App-logo-spin infinite 20s linear;
  
}


