.search-bar{
    width: 50vw !important;
    height: 30px !important;
    background-color: rgb(243, 243, 243) !important;
    border-radius: 50px !important;
    position: absolute !important;
    text-align: center;
    top: 17px;
    right: 26vw;

}
.search-bar::placeholder{
    text-align: center;
}

.search-bar:focus::placeholder{
    color: transparent;
}

@media (max-width: 480px){
    .search-bar{
        top: 15px !important;
    }
}
